nav {
    background-color: aquamarine;
    height: 60px;
}

.nav {
    /* background-color: orange; */
    margin-right: 10px;
}

.nav-item {
    /* background-color: yellow; */
    margin-left: 40px;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a.active {
    color: black;
    font-weight: bold;
    border-bottom: 3px solid;
    box-sizing: border-box;
}

nav a.active:hover {
    color: blue !important;
}

nav a:hover {
    text-decoration: none;
    color: blue;
}

nav a.active.navbar-brand {
    color: blue;
    border-bottom: none;
}

nav a.navbar-brand {
    color: blue;
}

nav a.navbar-brand:hover {
    color: blue;
}

nav a:not(.navbar-brand):hover {
    font-weight: bold;
}

